<h1>All Ideas</h1>
<% @ideas.each do |idea| %>
  <h2><%= link_to idea.title, idea_path(idea) %></h2>
  <p><%= idea.body %></p>
  <%= mail_to "#{idea.user.email}", idea.user.name_display  %>
  <br>
  <br>
<% end %>